:root {
    --header-foter-bg-color: rgba(72, 61, 139, 0.78);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    color: white;
}

body {
    background-color: #353535;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}