@import "tailwindcss";

:root {
  /*--background: #ffffff;*/
  /*--foreground: #171717;*/
}

@theme inline {
  --font-sans: var(--font-rubik);
  --color-primary: #70C05B;
  --shadow-default: 2px 4px 8px 0 rgba(0, 0, 0, 0.1);
  --shadow-button-default: 4px 8px 16px 0 rgba(112, 192, 91, 0.2);
  --shadow-button-active: inset 0 2px 0 0 rgba(0, 0, 0, 0.2);
}

@media (prefers-color-scheme: dark) {
  /*:root {*/
  /*  --background: #0a0a0a;*/
  /*  --foreground: #ededed;*/
  /*}*/
}

body {
  background-color: #FBF8EC;
  color: var(--foreground);
  font-family: var(--font-rubik), serif;
}
