:root {
    --background-gray: rgba(128, 127, 127, 0.35);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.title {
    text-align: center;
    color: #cc3026;
}

.mainContainer {
    background-color: #54a1ed;
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.loaderContainer {
    background-color: #ffffff;
    height: 50%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px 10px 0 0;
}

.messageContainer {
    background-color: #f1ae58;
    height: 30%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    border-radius: 0 0 10px 10px;
}

/*Loader*/
.loaderBack {
    position: relative;
    background-color: var(--background-gray);
    width: 95%;
    height: 20%;
    border-radius: 10px;
    box-shadow: 3px 5px 5px rgba(128, 128, 128, 0.49);
}

.loaderProgress {
    background-color: #318f14;
    height: 100%;
    width: 0;
    border-radius: 10px 0 0 10px;
    transition: width 0.3s ease;
}

.loaderProgress-message {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.loaderProgress-percent {
    font-weight: bold;
}

/*Notification*/

.notification {
    width: 95%;
    height: max-content;
    padding: 7px;
    border-radius: 10px;
    background-color: var(--background-gray);
    box-shadow: 3px 5px 5px rgba(128, 128, 128, 0.49);
}